// Variables
@import 'variables';

@import 'node_modules/bootstrap/scss/bootstrap';

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';

[v-cloak] {
  display: none;
}
#flash-container {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1050;

  .alert {
    margin-bottom: 5px;

    &.alert-danger,
    &.alert-warning{
      border: 1px dotted red;
    }
  }
}

.form-control[type="file"] {
  /* display file fix */
  padding-top: 0.175rem;
}
